langchain
pandas
streamlit
openai
pandasai
streamlit_chat
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
python-dotenv
matplotlib
pandas
openai
tabulate
pandasai
langchain_experimental
